<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.esiea.pascolo_wong.programmationmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_download" />
        <activity android:name=".activity_hexa_from_color" />

        <service
            android:name=".DownloadService"
            android:exported="false" />

        <activity android:name=".activity_hexa_from_color_db" />
        <activity android:name=".activity_color_from_hexa" />
        <activity android:name=".activity_hexa_from_rgb" />
        <activity android:name=".activity_rgb_from_hexa" />
        <activity android:name=".help_main" />
        <activity android:name=".help_hexa_from_color" />
        <activity android:name=".help_hexa_from_color_db" />
        <activity android:name=".help_hexa_from_rgb" />
        <activity android:name=".help_rgb_from_hexa" />
        <activity android:name=".help_download" />
        <activity android:name=".help_color_from_hexa"></activity>
    </application>

</manifest>